## 1.

In [15]:
list_1 = []
for i in range (1500,2700):
    if (i % 7 == 0) and (i % 5 == 0):
        list_1.append(i)
print(list_1)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2.

In [12]:
degree = int(input(" Insert the temperature degree :"))

 Insert the temperature degree :101

In [13]:
scale = str(input(" Insert the temperature scale (c / f):"))

 Insert the temperature scale (c / f):f

In [14]:
if scale == 'f' :
    result = int((degree - 32) * (5 / 9))
    print("temperature in Celsius​ is: ", result)
elif scale == 'c' :
    result = int((9 * degree) / 5 + 32)
    print("temperature in Fahrenheit is: ", result)
else : 
    print("please insert proper degree and scale")

temperature in Celsius​ is:  38

### 3.

In [10]:
for i in range (1,6):
    print("* "* i)
for i in range (4,0,-1):
    print("* "* i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 4.

In [9]:
word = str(input())
for i in range(len(word)-1,-1,-1):
    print(word[i],end="")

lqa zaaom
moaaz aql

### 5.

In [8]:
def max_of_3(x,y,z):
    if (x>=y) and (x>=z):
        max = x
    elif (y>=x) and (y>=z):
         max = y
    else:
         max = z
    return max
x = 95
y = 555
z = 111
print(max_of_3(x,y,z))

555

### 6.

In [7]:
list1 = [58, 15, 27, 18, 43]
def sumlist(list,size):
    if (size == 0):
        return 0
    else:
        return list[size - 1] + sumlist(list, size - 1)
total = sumlist(list1, len(list1))
print(total)

161

### 7.

In [6]:
for i in range(0,7):
    if (i == 3) or (i == 6):
        continue
    else:
        print(i)

0
1
2
4
5

### 8.

In [5]:
def factorial(n):
    i = 1
    f = 1 
    while i<= n :
        f = f*i
        i = i+1
    return f
print(factorial(5))

120

### 9.

In [1]:
def unique_L (l):
    u = []
    for i in l:
        if i not in u:
            u.append(i)
    return u
print(unique_L([1,1,5,7,7,4,4,6]))

[1, 5, 7, 4, 6]

### 10.

In [2]:
x = lambda n: n + 15
print(x(5))

20

In [3]:
z = lambda x,y: x * y
print(z(2,5))

10